<div id="chat-item-{{id}}" class="chat-item">
  <div class="chat-item__divider"></div>
  <div class="chat-item__block {{#if selected }} chat-item__selected{{/if}}">
    {{#if avatar}}
    <div>
      <img class="chat-item__avatar" src={{ avatar }}><img>
    </div>
    {{else }}
      <div class="chat-item__avatar"></div>
    {{/if}}
    <div class="chat-item__message-block">
      <div class="chat-item__name">{{ name }}</div>
      <div class="chat-item__message">
        <p class="chat-item__message-text">
          {{ message }}
        </p>
      </div>
    </div>
    <div class="chat-item__info-block">
      <div class="chat-item__date">{{ date }}</div>
      {{#if unread}}
        <div class="chat-item__unread">
          {{ unread }}
        </div>
      {{/if}}
    </div>
  </div>
</div>
