<div class="profile-page">
  <a class="profile-page__back-block" href="chats">
    <img class="icon-send-message" src="../../assets/icons/sendMessage.svg">
  </a>

  <div class="profile-page__info">
    <div class="profile-page__header">
      <div class="profile-page__image">
        <img class="icon-profile-img" src="../../assets/icons/profileImg.svg">
      </div>

      <div class="profile-page__name">
        {{ display_name }}
      </div>
    </div>

    <div class="profile-page__body">
      <div class="profile-page__item">
        <p class="profile-page__item__key">Почта</p>
        <p class="profile-page__item__value">{{ email }}</p>
      </div>
      <div class="profile-page__divider"></div>
      <div class="profile-page__item">
        <p class="profile-page__item__key">Логин</p>
        <p class="profile-page__item__value">{{ login }}</p>
      </div>
      <div class="profile-page__divider"></div>
      <div class="profile-page__item">
        <p class="profile-page__item__key">Имя</p>
        <p class="profile-page__item__value">{{ name }}</p>
      </div>
      <div class="profile-page__divider"></div>
      <div class="profile-page__item">
        <p class="profile-page__item__key">Фамилия</p>
        <p class="profile-page__item__value">{{ lastName }}</p>
      </div>
      <div class="profile-page__divider"></div>
      <div class="profile-page__item">
        <p class="profile-page__item__key">Имя в чате</p>
        <p class="profile-page__item__value">{{ display_name }}</p>
      </div>
      <div class="profile-page__divider"></div>
      <div class="profile-page__item">
        <p class="profile-page__item__key">Телефон</p>
        <p class="profile-page__item__value">{{ phone }}</p>
      </div>
    </div>

    <div class="profile-page__footer">
      {{> Link text="Изменить данные" xl="true" href="edit" }}
      <div class="profile-page__divider"></div>
      {{> Link text="Изменить пароль" xl="true" href="edit-password" }}
      <div class="profile-page__divider"></div>
      {{> Link text="Выйти" href="login" negative="true" xl="true" }}
    </div>
  </div>
</div>